<h1>Add a New Restaurant</h1>

<%= form_with model: @restaurant, url: restaurants_path do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div>
    <%= form.label :category %>
    <%= form.select :category, %w[french, japanese, italian, belgian, chinese] %>
  </div>


<div>
    <%= form.submit "Create Restaurant" %>
    <%= link_to "Back to Restaurant Index", restaurants_path %>
  </div>

<% end %>
