<h1>Restaurant Details</h1>

<p><strong>Name:</strong> <%= @restaurant.name %></p>
<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Category:</strong> <%= @restaurant.category %></p>


<h2>Reviews:</h2>
<% @reviews.each do |review| %>
  <h3>Rating: <%= review.reviews %></h3>
<% end %>

<%= link_to "Add a Review", new_restaurant_review_path(@restaurant) %>

<%= link_to "Back to Index", restaurants_path %>
